
.hidden {
  display: none;
}

.login-page {
  height: 100%;
  width: 100%;
  display: flex;
}


.session-box {
  width: 350px;
  height: auto;;
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 20px;
  font-family: 'Bilbo Swash Caps', cursive;
  margin: auto auto;
}
.logo-container {
  display: flex;
}

.logo {
  margin: auto;
}

.session-box > div {
  font-family: 'Antic', sans-serif;
  font-size: 18px;
}

.session-box > div > a {
  text-decoration: none;
  font-weight: bold;
}

.errors {
  font-family: 'Antic', sans-serif;
  font-size: 15px;
  list-style: none;
  margin-right: 35px;
}

.session-form > label > input {
  display: block;
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: solid 2px #3F88B9;
  transition: border 0.3s;
}

.session-form > label > input.focus,
.session-form > label > input:focus {
  outline: 0;
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px #1E84A4
}


.session-form > input[type="submit"] {
  border-radius: 15px;
  background-color: #C1E6F2;
  border: 1px solid black;
  font-size: 14px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.session-form > input[type="submit"]:hover {
  background-color: #61C5E3;
  border: 2px solid black;
}
